
.app-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #222; 
    color: #fff; 
  }
  
  .app-navbar-logo img {
    width: 100px;
    /* height: 100px;  */
  }
  
  .app-navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .app-navbar-links li {
    margin: 0 15px;
  }
  
  .app-navbar-links a {
    text-decoration: none;
    color: #fff; 
    font-size: 14px; 
  }
  
  .app-navbar-login a {
    color: #fff; 
  }
  
  
  .app-navbar-smallscreen {
    display: none; 
  }
  
  .app-navbar-smallscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333; 
  }
  
  .app-navbar-smallscreen-links {
    list-style: none;
    padding: 20px;
  }
  
  .app-navbar-smallscreen-links li {
    margin-bottom: 15px;
  }
  
  .overlay-close {
    cursor: pointer;
    color: #fff; 
  }
  
  
  .slide-bottom {
    animation: slideBottom 0.3s ease;
  }
  
  @keyframes slideBottom {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  